body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.chessboard {
    width: 560px;
    height: 560px;
    margin: 20px;
}
.black {
    float: left;
    width: 70px;
    height: 70px;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    background-color: #999;
    border: 1px solid;
}
.white {
    float: left;
    width: 70px;
    height: 70px;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    background-color: #fff;
    border: 1px solid;
}

.dnd-is-dragging {
  opacity: 0.5
}

.dnd-is-over {
  float: left;
  width: 70px;
  height: 70px;
  font-size:50px;
  text-align:center;
  display: table-cell;
  vertical-align:middle;
  z-index: 1;
  opacity: 0.5;
}

.dnd-is-over-allowed {
  background-color: #4CAF50;
}

.dnd-is-over-not-allowed {
  background-color: #FF5722;
}

.kanban-list {
  border: 1px solid gray;
	padding: 0.5rem 1rem;
	margin-bottom: .5rem;
  margin-right: 0.5rem;
	background-color: white;
	cursor: move;
  /* width: 250px; */
}

.kanban-card {
  border: 1px dashed gray;
	padding: 0.5rem 1rem;
	margin-bottom: .5rem;
	background-color: white;
	cursor: move;
  text-align:right;
  width: auto;
}

.kanban-list-title {
  font-size:20px;
  text-align:left;
}
